# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    on:
      push:
        tags:
          - "v[0-9]+.[0-9]+.[0-9]+"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: build
        uses: addnab/docker-run-action@v3
        with:
          registry: ghcr.io/initdb
          image: ghcr.io/initdb/docker-texlive:main
          options: -v ${{ github.workspace }}:/work
          run: |
            cd /work
            latexmk -pdf --shell-escape -synctex=1 -file-line-error -outdir=$(pwd) thesis.tex
            cp thesis.pdf thesis_title.pdf
      - name: Release Latest
        uses: docker://antonyurchenko/git-release:latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: thesis_title.pdf
            
